<form method="POST" novalidate>
  {{ form.csrf_token }}
  <div>

    <div>
      <p>{{ form.original(class="form-control form-control-lg py-2 mb-3", placeholder=form.original.label.text) }}</p>
      <p>
        {% if form.original.errors %}
          {% for error in form.original.errors %}
            <p><span style="color:red">{{ error }}</span></p>
          {% endfor %}
        {% endif %}
      </p>
    </div>

    <div>
      <p>{{ form.short(class="form-control form-control-lg py-2 mb-3", placeholder=form.short.label.text) }}</p>
      <p>
        {% if form.short.errors %}
          {% for error in form.short.errors %}
            <p><span style="color:red">{{ error }}</span></p>
          {% endfor %}
        {% endif %}
      </p>
    </div>

    <div>
      <p class="text-center">{{ form.submit(class="btn btn-primary py-2 mb-3", placeholder=form.submit.label.text) }}</p>
    </div>

  </div>
</form>