<form method="POST" novalidate>
  {{ form.csrf_token }}
  <div>

    <div>
      <p>{{ form.original_link(class="form-control form-control-lg py-2 mb-3", placeholder=form.original_link.label.text) }}</p>
      <p>
        {% if form.original_link.errors %}
          {% for error in form.original_link.errors %}
            <p><span style="color:red">{{ error }}</span></p>
          {% endfor %}
        {% endif %}
      </p>
    </div>

    <div>
      <p>{{ form.custom_id(class="form-control form-control-lg py-2 mb-3", placeholder=form.custom_id.label.text) }}</p>
      <p>
        {% if form.custom_id.errors %}
          {% for error in form.custom_id.errors %}
            <p><span style="color:red">{{ error }}</span></p>
          {% endfor %}
        {% endif %}
      </p>
    </div>

    <div>
      <p class="text-center">{{ form.submit(class="btn btn-primary py-2 mb-3", placeholder=form.submit.label.text) }}</p>
    </div>

  </div>
</form>